body{
    background-color: rgb(216, 216, 216);
}


.card{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    gap: 50px;
    margin: auto;
}


.card div{
    width: 200px;
    height: 215px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.card div img{
    object-fit: cover;
    object-position: bottom;
    max-width: 100%;
    max-height: 100%;
}


.card div h3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(24, 24, 24);
    font-weight: 500;
}


